.feature-content{
  //margin-top: 2rem;
  [class^="col-"]{
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .service-item{
    padding: 0;
    display: inline-block;
    float:left;
    img{
      max-width: 100%;
      width: 100%;
    }
  }
  .feature-service{
    position: absolute;
    height: 100%;
  }
  .watts{
    position: relative;
    z-index: 1;
    background-position: bottom center;
    @media (max-width: 768px){
      background-position: center center;
    }
    &:after{
      position: absolute;
      z-index: -1;
      content: '';
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba($brand-primary, 0.6);
    }
    .about-content-wrpper{
      font-family: $serif-font-family;
      text-transform: lowercase;
      color: $white;
      font-size: 1.4rem;
      padding: 100px 5px 10px 5px;
      @media (min-width: 991px) {
        padding: 277px 5px 10px 5px;
      }
      @media (max-width: 768px){
        height: 500px;
        padding: 170px 5px 10px 5px;
      }
      .btn-lg{border-radius: 0;}
      .btn-primary{
        font-size: .9rem;
        letter-spacing: .1rem;
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
        font-weight: 100;
        background: $red;
        color: $white;
        border-color: $white;
        border-width: 1px;
      }
      hr{
        padding: 10px;
        border-color: $white;
        width: 65%;
      }
    }
  }
}
.col-md-6{
  float: left;
}

