footer{
	.nav-link{padding: 0;}
	background: $brand-primary;
	color: $brand-secondary;
	a:link, a:visited{
		color: $brand-secondary;
	}
	h4{@include the-author;}
	.copyright{
		text-align: center;
	}
}