//Corner Gradient
@mixin corner-gradient-blk{
  background: rgba(0,0,0,0.4);
  background: -moz-linear-gradient(45deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,0,0,0.4)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(45deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(45deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(45deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 );
}

//Inline background image
@mixin inline-bg{
	background-position: center center;
  background-size: cover;
}

@mixin default-border-radius(){
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}