.the-culture{
	background: $brand-primary;
	color: $brand-secondary;
	margin: 0; 
	.container-fluid{padding: 0px;}
	.culture-content{
		position: relative;
		padding: 7rem 0;
		@include inline-bg;
		z-index: 1;
		&:after{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;
			content:'';
			@include corner-gradient-blk;
		}
	}
	.widget{
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 1.2rem;
	}
	h4{
		@include the-author;
		margin-bottom: 0px;
	}
	.textwidget{
		@include head-line;
		color: $brand-secondary;
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
}