//Mission statement
section.mission-statment{
    position: relative;
    @include inline-bg;
    padding: 4rem 0;
    text-align: center;
    color: $brand-secondary;
    z-index: 0;
    //background-size: 1500px;
    //background-position: top center;
    background: $brand-primary;
    &:before{
        position: absolute;
        padding: 7rem 0;
        text-align: center;
        color: $brand-secondary;
        z-index: -1;
        content: '';
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba($brand-primary, .8);
    }
    h2{
        font-size: 3rem;
        font-weight: bold;
    }
    p{
       font-size: 1.5rem;
       font-weight: lighter; 
    }

}

section.countdown{
    margin: 1.5rem auto;
    text-align: center;
    #countdowntimer{
        color: $brand-secondary;
    }
    h3{
        font-size: 3.3rem;
        font-weight: 800;
        margin-bottom: 0px !important;
    }
    .counter{
        @include inline-bg;
        padding: .6rem 0;
        position: relative;
        z-index: -1;
        &:after{
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            right: 0; 
            left: 0;
            z-index: -1;
            background: rgba(33, 33, 32, 0.8);
        }
    }
}

.fixed-menu{
    position: fixed!important; 
    z-index: 9999 !important; 
    padding: 0px !important;
    top:0 !important; 
    max-height: 80px !important;
    background: $brand-primary;
}

#content-section.intro-section {
    padding: 45px;
}
@media (max-width :992px) {
    #content-section.intro-section {
        padding: 15px;
    }
}

#intro-section {
    position: relative;
    height: 500px;
}
#intro-section.full-page {
    height: 100%;
}

#intro-section .intro-cover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* intro caption */
.intro-caption {
    position: absolute;
    display: inline-block;
    left: 5%;
    bottom: 10%;
    max-width: 820px;
    padding: 50px 60px;
    z-index: 9;
}
@media (max-width :992px) {
    .intro-caption {
        right: 5%;
        bottom: 5%;
        padding: 20px;
    }
}
@media (max-width :768px) {
    .intro-caption {
        text-align: center;
    }
}

/* intro title */
.intro-title {
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 10px;
    margin-right: -10px;
}
@media (max-width :991px) {
    .intro-title {
        font-size: 28px;
    }
}
@media (max-width :767px) {
    .intro-title {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 7px;
        margin-right: -7px;
    }
}

/* intro subtitle */
.intro-subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 12px;
    margin-right: -12px;
}
@media (max-width :991px) {
    .intro-subtitle {
        font-size: 14px;
        letter-spacing: 5px;
        margin-right: -5px;
    }
}

/* intro text */
.intro-text {
    font-size: 14px;
}

/* intro bottons */
.intro-button-wrap {
    margin-top: 20px;
}
.intro-caption .btn-default {
    color: #BBB;
}

.youtube-bg {
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.YTPOverlay {
    background-color: transparent;
}
.YTPOverlay.raster {
    background: url("../vendor/ytplayer/images/raster.png"); /* "raster.png" or "raster_dot.png" */
    background-color: rgba(0, 0, 0, 0.6);
}
.youtube-bg.YTPFullscreen .YTPOverlay, .youtube-bg.YTPFullscreen .YTPOverlay.raster, .youtube-bg.YTPFullscreen .cover {
    display: none;
}

/* Video control bar */
.mb_YTPBar, .mb_YTPBar.visible {
    opacity: .1;
    z-index: 9;
}
.mb_YTPBar, .mb_YTPBar .buttonBar {
    padding: 4px 4px 0px 4px;
}
.mb_YTPBar, .mb_YTPBar .mb_YTPProgress, .mb_YTPBar .mb_YTPLoaded, .mb_YTPBar .mb_YTPseekbar {
    height: 4px;
}
.mb_YTPBar .mb_YTPProgress, .mb_YTPBar .mb_YTPLoaded {
    cursor: pointer;
}
.mb_YTPBar .mb_YTPseekbar {
    background: #F20000;
    cursor: pointer;
}

/* Video control elements */
.mb_YTPBar span.mb_OnlyYT {
    left: 250px;
    right: auto;
}
@media (min-width: 480px) {
    .mb_YTPBar span.mb_OnlyYT {
        left: 330px;
    }
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.12);
}

.bg-transparent-4-dark { background-color: rgba(0, 0, 0, 0.6) !important; }

// #countdowntimer{
//     p{text-transform: uppercase}
// }
// .navbar-dark .navbar-toggle {
//     border: 1px solid #fff !important;
// }
// .navbar-dark .icon-bar {
//     border-bottom: 1px solid #fff !important;
// }
// @media (max-width: 747px) {
// .navbar-toggleable-xs {
//     background-color: #212120;
//     position: relative !important;
//     width: 100%;
//     z-index: 99;
// 	top: -40px;
// }
// }

//header Styles
.default-page-header{
    position: relative;
    @include inline-bg;
    //padding: 11rem 0 1rem 0;
    text-align: center;
    color: $brand-secondary;
    z-index: 0;
    background-size: 1500px;
    background-position: center center;
    margin-bottom: 2rem;
        &:before{
            position: absolute;
            padding: 7rem 0;
            text-align: center;
            color: $brand-secondary;
            z-index: -1;
            content: '';
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba($brand-primary, .85);
        }
}

//header Styles
.home-page-header{
    position: relative;
    @include inline-bg;
    padding: 220px 0 315px 0;
    text-align: left;
    color: $brand-secondary;
    z-index: 0;
    background-size: 1500px;
    background-position: center center;
        &:before{
            position: absolute;
            padding: 7rem 0;
            text-align: center;
            color: $brand-secondary;
            z-index: -1;
            content: '';
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba($brand-primary, .80);
        }
    h6{@include top-sub-heading;}
    h1{@include top-heading;}
    p{@include heading-copy;}
}

@media (min-width: 767px) {
.feature-content .feature-service {
    bottom: 0;
    position: absolute !important;
    top: 0;
    width: 100%;
}
.no-gutters .col-md-4.text-center{
    position: relative !important;
    }
}

//Top Fixed menu fixed
.bg-transparent{
    padding: .1rem 0;
}

.navbar-toggleable-md .navbar-nav .nav-link{
    @media (min-width: 992px){
        padding-right: .8rem;
        padding-left: .8rem;
    }
}

a.nav-link{
    font-size: 1rem;
    letter-spacing: .07rem;
    text-transform: uppercase;
}

.nav-link{
    padding-right: .8rem;
    padding-left: .8rem;
}

ul.social-media{
    padding: 0;
    width: 170px; 
    li{
        list-style: none; 
        display: inline-block;
        &:not(:first-child){margin-left: .5rem}
        a:link, a:visited{
            color: white;
            font-size: 1rem;
            i{
                @include default-border-radius;
                padding: 8px;
                width: 35px;
                height: 35px;
                display: inline-block;
                text-align: center;
                -moz-box-shadow: 0px 0px 2px #888;
                -webkit-box-shadow: 0px 0px 2px #888;
                box-shadow: 0px 0px 2px #888;
                &:hover, &:focus{
                    background: $red;
                    color: white;
                }
            }
        }
    }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 20;
}