.top-stories{
  //background: $brand-primary;
  background: transparent;
  position: relative; 
  .container{margin: 0px auto 2rem auto;}
  .top-story{
    background: $brand-primary; 
    padding: 100px 0;
  }
  .feature-story{
    background: $brand-primary;
    padding: 50px 0; 
  }
  .stories{
    @include inline-bg;
  }
  .top-story{
    position: relative;
    z-index: 1;
    &:after{
      position: absolute;
      content: '';
      z-index: -1;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      @include corner-gradient-blk;
    }
  }
  .story-wrap{
    overflow: hidden;
    max-height: 100%;
  }
  .top-story-details{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 15px 20px;
    h6{@include time-header; margin-bottom: 0px;}
    h1{
      @include head-line;
      font-size: 1.25rem;
      line-height: 1.35rem;
    }
    h3{
      @include head-line;
      font-size: .9em;
      line-height: 1rem;
    }
    p{
      @include the-author;
      margin-bottom: 0;
    }
    span{@include read-more;}
  }
}