//Time Header
@mixin time-header{
  text-transform: uppercase;
  letter-spacing: .07rem;
  font-size: .7rem;
  color: $yellow;
}

//Head Line
@mixin head-line{
  color: $brand-secondary;
  font-weight: bold;
  letter-spacing: .008rem;
  margin-bottom: .08rem;
  margin-top: .08rem;
}

//Read More
@mixin read-more{
  color: $brand-secondary;
  font-weight: bolder;
  font-size: .8rem;
  letter-spacing: .07rem;
  color: $red;
  text-transform: uppercase;
  display: block;
}

//The author
@mixin the-author{
  font-weight: lighter;
  font-size: .8rem;
  letter-spacing: .05rem;
  color: $yellow; 
  text-transform: uppercase;
}

@mixin top-sub-heading{
  font-family: $font-family-sans-serif;
  font-weight: 800;
  color: $brand-secondary;
  letter-spacing: .2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

@mixin top-heading{
  font-family: $serif-font-family;
  font-weight: 800;
  color: $brand-secondary;
  font-size: 4.5rem;
}

@mixin heading-copy{
  font-weight: $font-family-sans-serif;
  font-weight: 100;
  color: $brand-secondary;
  font-size: 1.2rem;
}